.switcher {
  position: relative;
  margin: 0 .625rem;
  height: calc(100vh - 220px);
  overflow: hidden;
  -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
}

@media (max-height: 600px) {
  .switcher {
    height: calc(100vh - 20px);
  }
}

.switcher > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: #23282a;
  border: 1px solid #282832;
  box-sizing: border-box;
  color: #fff;
}

.spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;

  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;

  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
}

.spinner > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border: 1px solid #1e1e1e;
  box-sizing: border-box;

  font-size: .625em;
  margin: 3.125em auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #373737;
  background: -webkit-linear-gradient(left, #43aad9 10%, rgba(55, 55, 55, 0) 42%);
  background: linear-gradient(to right, #43aad9 10%, rgba(55, 55, 55, 0) 42%);

  position: relative;

  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
}

.spinner > div::before {
  content: '';
  width: 50%;
  height: 50%;
  background: #43aad9;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
}

.spinner > div::after {
  content: '';
  background: #31474f;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/** <TransitionGroup> NEXT TRANSITION **/

:global(.next) :global(.fade-enter) {
  transform: translateX(100%);
  opacity: 0;
}

:global(.next) :global(.fade-enter-active) {
  transform: translateX(0%);
  opacity: 1;
  transition: all .5s;
}

:global(.next) :global(.fade-leave) {
  transform: translateX(0%);
  opacity: 1;
}

:global(.next) :global(.fade-leave-active) {
  transform: translateX(-100%);
  opacity: 0;
  transition: all .5s;
}

/** <TransitionGroup> BACK TRANSITION **/

:global(.back) :global(.fade-enter) {
  transform: translateX(-100%);
  opacity: 0;
}

:global(.back) :global(.fade-enter-active) {
  transform: translateX(0%);
  opacity: 1;
  transition: all .5s;
}

:global(.back) :global(.fade-leave) {
  transform: translateX(0%);
  opacity: 1;
}

:global(.back) :global(.fade-leave-active) {
  transform: translateX(100%);
  opacity: 0;
  transition: all .5s;
}

/** ADMIN PANEL **/

.admin {
  text-align: center;
  padding-top: calc((100vh - 380px) / 2);
}

.admin:before {
  content: 'ADMIN PANEL';
  position: absolute;
  top: 1.25rem;
  left: 0;
  width: 100%;
  font-size: 2rem;
  color: #464646;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
}

.admin:after {
  content: '🎖️ CONGRATS: LEVEL 2 UNLOCKED!';
  position: absolute;
  bottom: 1.25rem;
  left: 0;
  width: 100%;
  font-size: 1.625rem;
  color: #56a0d6;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
}

.login {
  text-align: center;
  padding-top: calc((100vh - 380px) / 2);
  color: red !important;
  font-size: 1.625rem;
  text-shadow: 1px 1px 1px #000;
}

/** NOT FOUND **/

.notFound {
  background: #141414;
  border: 1px solid #1e1e1e;
  box-sizing: border-box;
  padding: .625rem;
  color: red !important;
  font-size: 2rem;
  text-shadow: 1px 1px 1px black;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}
